/*-------------------
 GLOBAL CSS
 --------------------*/

:root {
    --main-color: #7857fe;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

 body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #f4f4f4;
    line-height: 1.5;
}

/*-------------------
 NAVBAR CSS
 --------------------*/
 .navbar, footer {
     background-color: #4ab471;
 }

 /*-------------------
 MENU UTAMA CSS
 --------------------*/
 .btn-lain {
     border-color: #04925b;
     border-width: medium;
     background-color: rgb(74, 180, 113, 0.5);
 }
 .btn-lain:hover {
    border-color: #04925b;
    border-width: medium;
    background-color: rgb(74, 180, 113);
    color: #ffffff;
}
 .dropdown-menu {
    background-color: rgb(74, 180, 113, 0.9);
    border-color: #04925b;
    border-width: medium;
 }
 .dropdown-menu a{
    font-weight: 600 !important;
    color: #ffffff;
 }
 .btn-tambah{
     background-color: #04925b;
     color: #f4f4f4;
     font-size: 2vh;
 }
 .btn-tambah:hover{
    border-color: #04925b;
}
.svg{
    fill: #ffffff;
}

  /*-------------------
 TABLE CSS
 --------------------*/
 .table td{
     font-weight: 600 !important;
 }
 .btn-edit {
     background-color: rgb(74, 180, 113, 0.5);
 }
 .btn-hapus, .bg-txt{
     background-color: rgb(241, 140, 142, 0.7);
 }
 .btn-keluar{
    background-color: rgb(204, 30, 32);
}
.btn-keluar:hover{
    background-color: rgb(131, 18, 20);
    border-color: var(--black-400);
}
.table-active{
    background-color: darkorange !important;
    color: #ffffff;
    text-transform: uppercase !important;
}

 /*-------------------
 FOOTER CSS
 --------------------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
